<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Basic-fancyBox-Gallery-v2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/best-carousel-slide.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Carousel_Image_Slider-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Carousel_Image_Slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Highlight-Clean-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Highlight-Clean.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Team-Grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vanilla-zoom.min.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#">Encrypton</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('home')  }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link active d-flex float-start" href="{{ url_for('encrypt')  }}" style="color: var(--bs-primary);">Encrypt a file</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('decrypt')  }}">decrypt a file</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about')  }}">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact')  }}">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="color: rgba(0,0,0,0.5);background: url({{ url_for('static', filename='assets/img/tech/2907010.png')  }}), var(--bs-dark);">
            <div class="text">
                <h2>Encrypton - Privacy, simplified.</h2>
                <p>A military-grade encryption system based on AES that allows you to encrypt and decrypt any file: Anytime, Anywhere, Completely Free.</p><a class="btn btn-outline-light btn-lg" role="button" href="#gomms">Learn More</a>
            </div>
        </section>
        <section class="clean-block clean-info dark">
            <div class="container">
                <div id="gomms" class="block-heading">
                    <h2 class="text-info">Info</h2>
                    <p>Strive for Privacy. That's what we do.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="{{ url_for('static', filename='assets/img/scenery/Kamogawa_river_Gion_Kyoto-1-1024x683.jpg')  }}"></div>
                    <div class="col-md-6">
                        <h3>Our Goal</h3>
                        <div class="getting-started-info">
                            <p><br>Imagine a world where anything can be encrypted or decrypted without having to save the file in another format. Imagine a world where privacy is free.<br><br></p>
                        </div><a class="btn btn-outline-primary btn-lg" role="button" href="#momss">Try it Now</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block about-us">
            <div class="container">
                <div id="momss" class="block-heading">
                    <section class="highlight-clean">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center">Let's start securing!</h2>
                                <p class="text-center">Choose from the below options to choose whether you wnat to encrypt your file or decrypt it</p>
                            </div>
                            <div class="buttons"><a class="btn btn-primary" role="button" href="enrypt.html">ENCRYPT</a><a class="btn btn-light" role="button" href="decrypt.html">DECRYPT</a></div>
                        </div>
                    </section>
                    <h2 class="text-info" id="about-t">About Us</h2>
                    <p>See the minds behind this project</p>
                </div>
                <div class="row justify-content-evenly">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ url_for('static', filename='assets/img/avatars/nir.jpeg')  }}">
                            <div class="card-body info">
                                <h4 class="card-title">Niran N</h4>
                                <p class="card-text"><br>Google DSC Lead<br>Teaching Assistant,&nbsp;RACE<br>Undergrad at REVA University<br><br></p>
                                <div class="icons"><a href="https://www.linkedin.com/in/felirox/"><i class="icon-social-linkedin"></i></a><a href="https://github.com/felirox"><i class="icon-social-github"></i></a><a href="https://scholar.google.com/citations?user=h8aQgKUAAAAJ&amp;hl=en"><i class="icon-social-google"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{{ url_for('static', filename='assets/img/avatars/IMG20210308092355.jpg')  }}">
                            <div class="card-body info">
                                <h4 class="card-title">Nisha S</h4>
                                <p class="card-text"><br>Undergrad at REVA University<br><br><br></p>
                                <div class="icons"><a href="https://www.linkedin.com/in/nisha-s-3a60411b3/"><i class="icon-social-linkedin"></i></a><a href="#"><i class="icon-social-github"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Niran N &amp; Nisha S</p>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js')  }}"></script>
    <script src="{{ url_for('static', filename='assets/js/smart-forms.min.js')  }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/vanilla-zoom.js')  }}"></script>
    <script src="{{ url_for('static', filename='assets/js/theme.js')  }}"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="{{ url_for('static', filename='assets/js/404.js')  }}"></script>
</body>

</html>